.container {
    padding-top: 1rem;
}

.technicalStack {
    text-wrap: balance;
    text-align: right;
}

#photo {
    height: 15em;
    border-radius: 128px;
    box-shadow: 0px 0px 10px white;
    animation: slideFromLeft .75s ease-out forwards;
}

#linkedin {
    background-color: rgb(10, 102, 194);
    color: white;
    width: 2.4rem;
    text-align: center;
}

#homeContent {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

#title {
    margin-left: 2rem;
}

/* Hamburger menu styles */
#menuIcon {
    display: none;
    cursor: pointer;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#navbar ul {
    list-style: none;
    display: flex;
}

#navbar li {
    margin-right: 20px;
}

@media (max-width: 991px) {
    #navbar ul {
        display: none;
        flex-direction: column;
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--background-color);
        z-index: 1;
    }

    #navbar ul.show {
        display: flex;
    }

    #navbar li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    #menuIcon {
        display: block;
    }

    /* Hamburger menu styles */
#navbar ul {
    opacity: 0;
    animation: fadeIn .25s ease-in-out forwards;
}

#navbar ul.show {
    opacity: 1;
}
}

/* Animation */

section {
    opacity: 0;
    animation: fadeIn .5s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideFromRight {
    0% {
      opacity: 0;
      transform: translate(50%, 0);
    }
    100% {
      opacity: 1;
      transform: translate(0, 0);
    }
  }

@keyframes slideFromLeft {
0% {
    opacity: 0;
    transform: translate(-50%, 0);
}
100% {
    opacity: 1;
    transform: translate(0, 0);
}
}

@keyframes slideFromBottom {
0% {
    opacity: 0;
    transform: translate(0, 50%);
}
100% {
    opacity: 1;
    transform: translate(0, 0);
}
}

  
#title h2 {
animation: slideFromRight .75s ease-out forwards;
}

#title h3 {
animation: slideFromBottom .75s ease-out forwards;
}